@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*,*:after,*:before {
  box-sizing: border-box;
}

.user {
  font-family: 'Open Sans', sans-serif;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.user__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.user__wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user__card {
  width: 30%;
}

.user__table {
  margin: 25px 0 0 25px;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 60px 3px rgba(0,0,0,0.45);
  border-collapse: separate;
  border-spacing: 0 3px;
}

.user__header {
  text-align: left;
}

.user__header-title {
  opacity: 0.5;
  padding: 15px;
}

.user__body {
  cursor: pointer;
  border: 5px solid transparent;
}

.user__body:hover {
  background: rgba(0,0,0,.07);
}

.user__body-list {
  background: rgba(0,0,0,.05);
  padding: 15px;
}

.user__active {
  background: rgba(0,0,0,.2);
}

.user__button {
  margin: 25px 0 0;
  color: #fff;
  background: #7676de;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border-color: transparent;
  padding: 5px 10px;
}


